{% extends 'layout.html' %}
{% block content %}
<h1>Welcome to the university db!</h1>
<h2>What do you want to see?</h2>
<ul>
    <li><a href="{{ url_for('all_students') }}">students table</a></li>
    <li><a href="{{ url_for('all_groups') }}">groups table</a></li>
    <li><a href="{{ url_for('all_courses') }}">courses table</a></li>
    <li><a href="{{ url_for('all_groups') }}?count=20">groups with 20 or less students</a></li>
    <li><a href="{{ url_for('list_courses') }}">all students related to the course with a given name</a></li>
    <li><a href="{{ url_for('add_new_student') }}">add new student</a></li>
    <li><a href="{{ url_for('delete_student') }}">delete student by id</a></li>
</ul>
{% endblock content %}